################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/FlatUnzip/obj
/FlatUnzip/bin/Debug/net6.0
/.vs
